cactusprojects/emtf/daq/hal/examples/XDAQ/Trigger/xml/HardwareAddressTable-ver-2-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by schwick (cern) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="ADDRESSType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ADDRESS_MODIFIERType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BASE_ADDRESSType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CARD_IDType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VENDORType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DEVICEType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CARD_TYPE">
		<xs:complexType>
			<xs:choice>
				<xs:element name="VME_ADDRESS" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="VME_ADDRESSType">
								<xs:attribute name="_userInfo" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="VME64X_ADDRESS" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="VME64X_ADDRESSType">
								<xs:attribute name="_userInfo" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="PCI_ADDRESS" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="PCI_ADDRESSType">
								<xs:attribute name="_userInfo" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="_type" type="xs:string" use="required" fixed="Module"/>
			<xs:attribute name="TYPE_ID" type="xs:string" use="optional"/>
			<xs:attribute name="_userInfo" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CURRENT_USERType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DESCRIPTIONType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LOCATIONType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MASKType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="READ_OR_WRITEType">
		<xs:simpleContent>
			<xs:extension base="READ_OR_WRITESimpleType">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="READ_OR_WRITESimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="r"/>
			<xs:enumeration value="rw"/>
			<xs:enumeration value="w"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BARType">
		<xs:simpleContent>
			<xs:extension base="BARimpleType">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MAPType">
		<xs:simpleContent>
			<xs:extension base="MAPimpleType">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="BARimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MAPimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SPACEType">
		<xs:simpleContent>
			<xs:extension base="SPACEimpleType">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SPACEimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="memory"/>
			<xs:enumeration value="configuration"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="USERSType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="USER_COMMENTType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VME64X_ADDRESSType">
		<xs:all>
			<xs:element name="ADDRESS" type="ADDRESSType"/>
			<xs:element name="READ_OR_WRITE" type="READ_OR_WRITEType"/>
			<xs:element name="SPACE" type="SPACEType"/>
			<xs:element name="MAP" type="MAPType"/>
			<xs:element name="MASK" type="MASKType"/>
			<xs:element name="WIDTH" type="WIDTHType" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="DESCRIPTIONType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="_type" type="xs:string" use="required" fixed="Module"/>
		<xs:attribute name="ITEM_NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="VME_ADDRESSType">
		<xs:all>
			<xs:element name="ADDRESS" type="ADDRESSType"/>
			<xs:element name="ADDRESS_MODIFIER" type="ADDRESS_MODIFIERType"/>
			<xs:element name="READ_OR_WRITE" type="READ_OR_WRITEType"/>
			<xs:element name="WIDTH" type="WIDTHType"/>
			<xs:element name="MASK" type="MASKType"/>
			<xs:element name="DESCRIPTION" type="DESCRIPTIONType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="_type" type="xs:string" use="required" fixed="Module"/>
		<xs:attribute name="ITEM_NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PCI_ADDRESSType">
		<xs:all>
			<xs:element name="ADDRESS" type="ADDRESSType"/>
			<xs:element name="BAR" type="BARType"/>
			<xs:element name="SPACE" type="SPACEType"/>
			<xs:element name="READ_OR_WRITE" type="READ_OR_WRITEType"/>
			<xs:element name="MASK" type="MASKType"/>
			<xs:element name="DESCRIPTION" type="DESCRIPTIONType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="_type" type="xs:string" use="required" fixed="Module"/>
		<xs:attribute name="ITEM_NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="VME_CARDType">
		<xs:all>
			<xs:element name="BASE_ADDRESS" type="BASE_ADDRESSType"/>
			<xs:element name="CARD_ID" type="CARD_IDType"/>
			<xs:element name="CURRENT_USER" type="CURRENT_USERType"/>
			<xs:element name="USER_COMMENT" type="USER_COMMENTType"/>
			<xs:element name="LOCATION" type="LOCATIONType"/>
		</xs:all>
		<xs:attribute name="_type" type="xs:string" use="required" fixed="Module"/>
		<xs:attribute name="SERIAL_NUMBER" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PCI_CARDType">
		<xs:all>
			<xs:element name="VENDOR" type="VENDORType"/>
			<xs:element name="DEVICE" type="DEVICEType"/>
			<xs:element name="CARD_ID" type="CARD_IDType"/>
			<xs:element name="CURRENT_USER" type="CURRENT_USERType"/>
			<xs:element name="USER_COMMENT" type="USER_COMMENTType"/>
			<xs:element name="LOCATION" type="LOCATIONType"/>
		</xs:all>
		<xs:attribute name="_type" type="xs:string" use="required" fixed="Module"/>
		<xs:attribute name="SERIAL_NUMBER" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="WIDTHType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="_type" type="xs:string" use="required" fixed="number"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
